
<header class="navbar navbar-light shadow-sm">
    <div><img class="logo" src="assets/images/logo.png" alt="Inhabitr" title="Inhabitr"> <span (click)="toggleMenu()" class="navbar-toggler-icon pl-5"></span>
    </div>
    <div class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              John
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#"> Logout</a>
            </div>
    </div>
</header>

<!-- Vertical navbar -->
<div  id="sidebar" [class]="showMenu?'active vertical-nav bg-white ':' vertical-nav bg-white '">
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item mt-5">
        <a routerLink="/dashboard" class="nav-link text-dark  ">
                  <i class="fa fa-dashboard mr-3  fa-fw"></i>
                  Dashboard
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="/items" class="nav-link text-dark ">
                  <i class="fa fa-cubes mr-3  fa-fw"></i>
                  Products
              </a>
      </li>
      <li class="nav-item">
            <a routerLink="/items" class="nav-link text-dark ">
                      <i class="fa fa-plus mr-3  fa-fw"></i>
                    Add Product
                  </a>
          </li>
      <li class="nav-item">
        <a routerLink="/bookmarklet" class="nav-link text-dark ">
                  <i class="fa fa-bookmark mr-3  fa-fw"></i>
                  Bookmarklet
              </a>
      </li>
    </ul>
  
  </div>
  <!-- End vertical navbar -->
 