<div  id="content" [class]="!showMenu?'active container page-content p-5 mt-5':'container page-content p-5 mt-5'">
        <div class="container-fluid" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()" [scrollWindow]="true">
        <div class="row sub_header shadow-sm d-flex flex-wrap align-content-center">
            <div class="col-sm-2" align="left">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        All
                    </div>
                    <div class="col">
                        Categories
                    </div>
                    <div class="col">
                        Retailers
                    </div>
                    <div class="col">
                        Brands
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11 m-auto">
                <ul id="waterfall">
                    <li *ngFor="let item of data" class="list-feed style-grid ">
                        <div class="apply-spacing product-grid3">
                            <div class="shop-view ">
                                <div class="full-width image-block-grid" style="min-height: 120px;overflow:hidden;">
    
                                    <a id="{{item.id}}" class="details-link" routerLink= "/item/{{item.id}}">
                                        <img src="{{item.image}}" *ngIf="item.image" title="{{item.name}}" prod-image>
                                        <span class="noProductetxt" *ngIf="!item.image">Image not available</span>
                                    </a>
                                </div>
                                <div class="product-content shadow-sm">
                                <div class="container">

                                    <div class="p-1 text-left ellipsis prd_title bold">{{item.name}}</div>
                                    <div class="p-1 text-left text-black bold">
                                            <strong class="font12" *ngIf="item.bestOffer.offerPrice < item.bestOffer.originalPrice"> <span style="text-decoration: line-through; color:red;"><span>{{item.bestOffer.originalPrice | currency}}</span></span>&nbsp;<span>{{item.bestOffer.offerPrice | currency}}</span></strong>
                                            <strong class="font12" *ngIf="item.bestOffer.offerPrice >= item.bestOffer.originalPrice">
                                                {{item.bestOffer.offerPrice | currency}}</strong>
                                    </div>
                                </div>
                                </div>
    
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
</div>
