<div  id="content" [class]="!showMenu?'active container page-content p-5 mt-5':'container page-content p-5 mt-5'">
        <div class="row">
                <div class="col">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">500</h5>
                                  <p class="card-text">Total Products</p>
                                </div>
                              </div>
                </div>
                <div class="col">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">100</h5>
                                  <p class="card-text">New Products</p>
                                </div>
                              </div>
                </div>
                <div class="col">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">400</h5>
                                  <p class="card-text">Procured Products</p>
                                </div>
                              </div>
                </div>
                
            </div>
</div>
  