/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
*{
    box-sizing: border-box;
}
body{
    background: #f2f2f2 !important;
}
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 5%;
    left: 0;
    margin-top: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  .vertical-nav .nav-link{
    border-bottom: 1px solid #f47b20;
  }
  
  .page-content .active{
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
.logo{
    width: 150px;
}
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  .vertical-nav i{
      color: #f47b20;
  }
  a{
      color: black;
  }
  
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  .btn:focus {
    outline: none;
  }
  