<div  id="content" [class]="!showMenu?'active container bg-white page-content p-5 mt-5':'container bg-white page-content p-5 mt-5'">
  <div class="row">
      <div class="col"> <strong class="d-block pb-2 text-center">Successfully added the Item!!!</strong>
      </div>
  </div>
  <div class="row d-flex justify-content-center">
      <div class="col">
          <div class="card">
              <div class="card-body img_width m-auto">
                  <img src="{{itemInfo.image}}" alt="{{itemInfo.name}}" title="{{itemInfo.name}}">
              </div>
          </div>
      </div>
      <div class="col">
          <h6>{{itemInfo.name}}</h6>
          <p>{{itemInfo.description}}</p>
          <h6>{{itemInfo.bestOffer.offerPrice | currency}}</h6>
      </div>
  </div>
  <div class="row mt-4 justify-content-center">
        <div class="col m-auto">
            <div class="form-group">
                <button type="button" class="btn mt-1 btn-primary btn-block loginbtn w-25 m-auto" (click)="procure()"> Procure </button>
            </div>
         </div>
    </div>
  
</div>